<html>
	<form method='get' action='/conversor/millas'>
		<input name='km' value='{{km}}'/>
		<button type='submit'>Convertir!</button>
		
	
			
				{{#if hayKilometros}}
			
				millas: {{millas}}
				{{/if}}
	</form>
<html>