<html>
	<body>
		
		<table>
			<tr>
				<th> Nombre </th>
				<th> Apodo </th>
				<th> Nivel </th>
			</tr>
			{{#each capturas}}
			<tr>
				<td> {{ pokemon.nombre }} </td>
				<td> {{ apodo }} </td>
				<td> {{ nivel }} </td>
			</tr>
			{{/each}}
		</table>
		
	</body>
</html>